.gradle/
**/build/*
!**/build/libs/
!**/build/libs/*.jar
**/.gradle/
.idea/
**/.idea/
*.class
bin/
**/bin/
BypassFuzzer-Burp/
Ghost-Js-Burp-Extension/
js-recon/
keyhacks/
kingfisher/
trufflehog/
google-homepage.png
upload-scanner/
